.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  

  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    g {
      path {
        transition: fill .3s ease-in-out;
        fill: red;
      }
    }
   
  }
  
